#clock-container {
  width: 40vw;
  height: 40vw;
  margin: auto;
  position: relative;
  background-image: url(clock.png);
  background-size: cover;
}
#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 30%;
  transform-origin: bottom;
}
#hour {
  height: 28%;
  width: 3%;
  top: 20%;
  left: 48.4%;
}
#minute {
  height: 33%;
  width: 2%;
  top: 15%;
  left: 48.9%;
}
#second {
  height: 38%;
  width: 0.8%;
  top: 11.9%;
  left: 49.4%;
}
